In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [139]:
df_k1000 = pd.read_csv('../data/dataset/5.df_k1000_clustering.csv', index_col=0)
df_k2000 = pd.read_csv('../data/dataset/5.df_k2000_clustering.csv', index_col=0)
df_k3000 = pd.read_csv('../data/dataset/5.df_k3000_clustering.csv', index_col=0)
df_k4000 = pd.read_csv('../data/dataset/5.df_k4000_clustering.csv', index_col=0)
df_k5000 = pd.read_csv('../data/dataset/5.df_k5000_clustering.csv', index_col=0)

In [140]:
def concat_frames(frames):
  for i in range(len(frames)):
    f = frames[i]
    f['cluster'] = f['cluster'].astype('int') + 1000*i
    frames[i] = f
    
  pd.concat(frames, axis=0)
  
concat_frames([df_k1000, df_k2000])

In [161]:
candidates_full_cols = pd.concat([df_k1000, df_k2000, df_k3000, df_k4000, df_k5000], axis=0)

18547

### TODO
-  groupby, sum
- 데이터 형식 바꾸기. cluster: subset, cell_id: element, count_cust: cost

In [144]:
candidates = candidates_full_cols.copy().groupby(['cluster', 'cell_id']).sum().reset_index()

In [147]:
candidates = candidates.copy()[['cluster', 'cell_id', 'count_cust']]

In [113]:
from collections import defaultdict

universe = set([])
subsets = defaultdict(set)
demands = defaultdict(int)

for _, r in candidates.iterrows():
  cluster, cell_id, count_cust = r
  
  cell_id = str(int(cell_id))
  cluster = str(int(cluster))
  universe.add(cell_id)
  subsets[cluster].add(cell_id)
  demands[cell_id] = count_cust

In [114]:
def greedy_set_cover(universe, subsets, costs):
    elements = set(e for s in subsets.keys() for e in subsets[s])
    # elements don't cover universe -> invalid input for set cover
    if elements != universe:
        return None

    # track elements of universe covered
    covered = set()
    cover_sets = []

    while covered != universe:
        min_cost_elem_ratio = float("inf")
        min_set = None
        # find set with minimum cost:elements_added ratio
        for s, elements in subsets.items():
            new_elements = len(elements - covered)
            # set may have same elements as already covered -> new_elements = 0
            # check to avoid division by 0 error
            if new_elements != 0:
                cost_elem_ratio = costs[s] / new_elements
                if cost_elem_ratio < min_cost_elem_ratio:
                    min_cost_elem_ratio = cost_elem_ratio
                    min_set = s
        cover_sets.append(min_set)
        # union
        covered |= subsets[min_set]
    return cover_sets

In [76]:
def calculate_subset_demand(subsets, demands):
      total_demands = {}
      for subset, elements in subsets.items():
        cost = 0
        for e in elements:
          cost += demands[str(e)]
        
        total_demands[subset] = cost
        
      total_demands_recip = {}
      
      for k, v in total_demands.items():
        total_demands_recip[k] = 1/v
        
      return [total_demands, total_demands_recip]

In [149]:
total_demands, total_demands_recip = calculate_subset_demand(subsets, demands)

In [164]:
cover = greedy_set_cover(universe, subsets, total_demands_recip)

KeyboardInterrupt:

In [165]:
len(cover)

905

In [151]:
cover_df = pd.DataFrame(cover)
cover_df.columns = ['cluster']
candidates_full_cols['cluster'] = candidates_full_cols['cluster'].astype('str')

In [157]:
clusters_df = pd.merge(cover_df, candidates_full_cols, how='left', on='cluster')
clusters_df

,cluster,cell_id,resident_table,base_dt,dow,ccw_cd,ccw_nm,adng_cd,adng_nm,cell_xcrd,cell_ycrd,gender,age,app_web,time_zone,count_cust
0,714,83943045,0,20220620,1,4146,용인시,41463550,서농동,127.075294,37.229260,MALE,6,EV라운지,6,7.439
1,714,83943045,0,20220620,1,4146,용인시,41463550,서농동,127.075294,37.229260,MALE,7,하이차저,5,3.802
2,714,83943045,0,20220613,1,4146,용인시,41463550,서농동,127.075294,37.229260,MALE,9,EV라운지,2,7.393
3,714,83943045,0,20220607,2,4146,용인시,41463550,서농동,127.075294,37.229260,MALE,10,EV라운지,5,10.836
4,714,83943045,0,20220625,6,4146,용인시,41463550,서농동,127.075294,37.229260,FEMALE,11,EV라운지,4,13.982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876667,1654,84087237,1,20220610,5,4146,용인시,41465530,신봉동,127.079865,37.319866,MALE,9,EV라운지,4,4.320
876668,1654,84087237,1,20220626,7,4146,용인시,41465530,신봉동,127.079865,37.319866,MALE,7,EV라운지,4,3.764
876669,1654,84087236,1,20220618,6,4146,용인시,41465530,신봉동,127.079865,37.319416,MALE,6,EV라운지,4,3.764
876670,1654,84087236,1,20220630,4,4146,용인시,41465530,신봉동,127.079865,37.319416,MALE,8,EV라운지,4,4.320
876671,1654,84071238,1,20220621,2,4146,용인시,41465530,신봉동,127.079300,37.319866,FEMALE,10,EV라운지,1,3.396

### Coverage

- 수요가 발생한 노드의 수: `len(df_k1000['cell_id'].unique())` = 18547
- 커버 가능한 노드의 수: `len(clusters_df['cell_id'].unique())` = 17976

커버리지 = 수요노드 / 커버노드 = 17976 / 18547 = 96.92%

In [167]:
demand_count = len(clusters_df['cell_id'].unique())
covered_count = len(df_k1000['cell_id'].unique())
print(covered_count) #커버 가능한 노드의 수
print(demand_count) #수요가 발생한 노드의 수

print(demand_count / covered_count * 100)

18547
17976
96.92133498679031

## Cluster의 중심 좌표 구하기

In [187]:
# cluster로 그룹화 후 개별 데이터프레임으로 쪼개기

grouped_clusters_df = clusters_df.groupby('cluster')
groups = [grouped_clusters_df.get_group(g).reset_index() for g in grouped_clusters_df.groups]

In [188]:
groups[1].head()

,index,cluster,cell_id,resident_table,base_dt,dow,ccw_cd,ccw_nm,adng_cd,adng_nm,cell_xcrd,cell_ycrd,gender,age,app_web,time_zone,count_cust
0,630008,1,87734799,0,20220629,3,4146,용인시,41461510,중앙동,127.20889,37.22561,FEMALE,12,EV라운지,2,4.1
1,630009,1,87734799,0,20220626,7,4146,용인시,41461510,중앙동,127.20889,37.22561,FEMALE,12,EV라운지,3,4.1
2,630010,1,87734799,0,20220601,3,4146,용인시,41461510,중앙동,127.20889,37.22561,FEMALE,12,EV라운지,5,8.2
3,630011,1,87734799,0,20220605,7,4146,용인시,41461510,중앙동,127.20889,37.22561,FEMALE,12,EV라운지,3,4.1
4,630012,1,87734799,0,20220619,7,4146,용인시,41461510,중앙동,127.20889,37.22561,FEMALE,12,EV라운지,5,8.2

In [198]:
for g in groups:
  area = 0
  cx = 0
  cy = 0
  
  for i, r in g.head().iterrows():
    j = (i + 1) % g.shape[0]
    
    p1 = g.iloc[i]
    p2 = g.iloc[j]
    
    x1 = p1['cell_xcrd']
    x2 = p2['cell_xcrd']
    y1 = p1['cell_ycrd']
    y2 = p2['cell_ycrd']
    
    area += x1 * y2
    area -= y1 * x2
    
    cx += ((x1 + x2) * ((x1 * y2) - (x2 * y1)))
    cy += ((y1 + y2) * ((x1 * y2) - (x2 * y1)))
  
  # print(cx, cy)
  area /= 2
  area = abs(area)

  cx = cx / (6.0 * area);
  cy = cy / (6.0 * area);
  
  print(cx, cy)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13904\4170263180.py:27: RuntimeWarning: invalid value encountered in double_scalars
  cx = cx / (6.0 * area);
C:\Users\ASUS\AppData\Local\Temp\ipykernel_13904\4170263180.py:28: RuntimeWarning: invalid value encountered in double_scalars
  cy = cy / (6.0 * area);

nan nan
nan nan
nan nan
nan nan
nan nan
-84.82747666666667 -24.778812333333335
nan nan
nan nan
nan nan
nan nan
84.87047833333334 24.77408733333333
nan nan
nan nan
nan nan
nan nan
nan nan
84.83821333333333 24.82616
nan nan
nan nan
nan nan
84.80231650490818 24.815082165431072
84.80922 24.840968
-84.88473109371569 -24.779271476487793
nan nan
nan nan
-84.81763466666666 -24.852254
nan nan
nan nan
-84.82418238388169 -24.78118294174996
-84.75211359897013 -24.834048741692943
-84.76514 -24.740792666666664
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.7834980547968 -24.882946172860304
nan nan
nan nan
nan nan
nan nan
nan nan
84.78075724776255 24.821382786050837
nan nan
nan nan
nan nan
nan nan
84.8835851993564 24.840521872181924
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.87779833333333 -24.775150333333336
nan nan
nan nan
84.81841778681932 24.89326623729504
84.88944866666667 24.770359000000003
nan nan
nan nan
-84.76750333333332 -24.837851333333333
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.78971666666666 24.830402
84.79483 24.866771666666665
nan nan
nan nan
nan nan
nan nan
nan nan
84.812288 24.82384866666666
-84.83067904580807 -24.88447014622481
-84.81569666666667 -24.765415
-84.74465666666667 -24.859415000000002
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.70024879187096 24.890399426732913
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.94220999999999 -24.751185999999997
nan nan
nan nan
nan nan
nan nan
84.76203666666666 24.84174133333334
nan nan
nan nan
nan nan
nan nan
nan nan
-84.85532666666667 -24.821235
nan nan
84.76974828978483 24.876144816196113
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.82793617695286 24.79629956651402
nan nan
84.79586104842147 24.825136886465504
nan nan
nan nan
-84.85820757572553 -24.76651524156724
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.7039939063971 24.877481253911558
nan nan
nan nan
nan nan
nan nan
nan nan
84.816165 24.843688
nan nan
nan nan
nan nan
-84.74272500000001 -24.832667
nan nan
nan nan
nan nan
84.84809196879256 24.79847492716041
nan nan
nan nan
84.725962 24.838919333333337
-84.82418238388169 -24.78118294174996
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.82029333333334 24.89748
-84.72128500000001 -24.86925
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.87741530091633 -24.820920331354447
nan nan
nan nan
nan nan
nan nan
nan nan
84.81638866666667 24.833321333333334
84.73880252562827 24.85793505111527
-84.81430333333333 -24.88920333333333
nan nan
nan nan
nan nan
nan nan
nan nan
-84.80213666666667 -24.825476333333334
nan nan
nan nan
84.71803133333333 24.845804
nan nan
84.75447666666666 24.849829999999997
nan nan
nan nan
-84.77627833333334 -24.809331666666672
nan nan
nan nan
nan nan
nan nan
-84.75361666666667 -24.872813333333333
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.820147 24.833030666666666
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.72283700000001 24.826289333333335
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.75361666666667 -24.872813333333333
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.71194533333333 -24.891448333333337
nan nan
nan nan
nan nan
nan nan
nan nan
-84.82696666666668 -24.817571999999995
nan nan
nan nan
nan nan
-84.81703666666667 -24.862019
nan nan
nan nan
-84.93169166666667 -24.760943333333334
nan nan
nan nan
84.81661156250117 24.822643487794814
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.88402094762529 -24.796187906700144
nan nan
nan nan
nan nan
nan nan
nan nan
-84.74822071065547 -24.840765676618297
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.77061666666665 -24.81517433333334
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.80503592864729 24.819136069011
nan nan
nan nan
nan nan
nan nan
nan nan
84.73046133333334 24.841338666666662
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.826795 -24.867448666666668
nan nan
-84.75822833333332 -24.85179533333333
nan nan
-84.78450666666667 -24.774199999999997
nan nan
nan nan
nan nan
nan nan
nan nan
84.76876 24.851375666666662
84.81428639139155 24.74996317154044
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.72857 -24.843585666666662
nan nan
nan nan
nan nan
nan nan
nan nan
-84.88493707852803 -24.785194163324675
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.79304466666667 -24.797509666666667
nan nan
-84.81872 -24.811843999999997
nan nan
84.8331 24.893753000000004
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.76600333333334 -24.837546000000007
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.71276 24.879885333333334
nan nan
nan nan
nan nan
-84.77669833333334 -24.841934
-84.74980166666666 -24.882867333333337
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.73795533333332 -24.845869999999998
-84.71464833333333 -24.878991666666668
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.76003666666668 24.827462666666666
nan nan
84.82304333333333 24.865037666666666
-84.78368533333334 -24.746254333333336
nan nan
nan nan
nan nan
nan nan
nan nan
-84.747782 -24.835236666666667
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.81642085036701 24.814745939829315
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.80448 -24.80324733333333
84.74827533333332 24.887068666666668
nan nan
84.75372666666667 24.888287999999996
-84.79941762157497 -24.810772227523273
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.73223221064879 24.81881129424546
nan nan
nan nan
nan nan
84.80796333333333 24.825640000000003
nan nan
nan nan
nan nan
84.80960333333333 24.838414666666665
nan nan
nan nan
nan nan
84.75756333333334 24.833914999999998
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.81007333333334 24.763598333333334
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.84868 24.84493211278277
nan nan
nan nan
nan nan
nan nan
84.80638499999999 24.796190666666668
nan nan
84.72217466666666 24.87826766666667
84.72797 24.85019266666667
nan nan
84.76140999999998 24.85541033333333
-84.82027426099758 -24.84488004721403
nan nan
84.77237199999999 24.883986
-84.84139499999999 -24.830372999999998
nan nan
nan nan
nan nan
nan nan
84.71408533333333 24.84563866666667
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.73526333333332 24.892735000000002
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.81624333333333 24.822054666666666
nan nan
84.75430666666668 24.88498333333333
nan nan
nan nan
84.76324666666666 24.864279333333332
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.77679 -24.864018999999995
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.88325333333334 -24.769751
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.92060333333332 24.770998666666664
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.80893786063604 24.802155250631433
nan nan
nan nan
nan nan
nan nan
nan nan
-84.81313557027288 -24.813989151972784
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.74659560143438 -24.821126950739583
nan nan
nan nan
nan nan
-84.70315 -24.882855666666664
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.77591193398082 -24.819790391913468
nan nan
nan nan
-84.87126642854317 -24.785498053389098
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.70066333333332 24.88960566666666
nan nan
-84.82422666666666 -24.903648
nan nan
nan nan
84.75194584842279 24.845008159520372
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.78452333333334 24.81416333333333
84.73515466666666 24.87816233333334
nan nan
84.70702666666668 24.895938666666666
nan nan
nan nan
nan nan
-84.83367333333334 -24.891651666666665
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.83675333333333 24.812034
nan nan
-84.80392850738613 -24.76746476500148
84.71803133333333 24.845804
nan nan
nan nan
nan nan
-84.81430333333333 -24.88920333333333
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.84084527270382 24.797433996012558
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.75489666666667 -24.880026666666666
nan nan
84.80195809121149 24.817410540921642
nan nan
nan nan
nan nan
-84.74262133333333 -24.852647666666662
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
84.88130666666666 24.799493333333334
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.86714333333333 -24.829819333333337
84.80845333333335 24.844120000000004
84.82467666666666 24.882016666666665
nan nan
-84.77461 -24.888651
nan nan
nan nan
nan nan
nan nan
84.73393627442664 24.842730892835785
nan nan
nan nan
nan nan
-84.84331866666668 -24.876496666666668
nan nan
nan nan
nan nan
nan nan
-84.78555333333333 -24.881020000000003
nan nan
nan nan
84.70755133333333 24.902251
84.80594333333333 24.81361666666667
nan nan
nan nan
nan nan
nan nan
nan nan
84.8111658421254 24.81425841444204
nan nan
nan nan
nan nan
nan nan
nan nan
-84.85401533333334 -24.82048
-84.82512 -24.862937333333328
nan nan
nan nan
nan nan
nan nan
nan nan
84.71794633333333 24.82747266666666
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
nan nan
-84.77132533333332 -24.866255
nan nan
nan nan
nan nan
nan nan
nan nan
-84.72738333333334 -24.889251666666667
84.79789335420153 24.829407132012687

```
for (i = 0; i < points; i++)
{
	j = (i + 1) % points;

	pt1 = pPoly->GetPointAt(i);
	pt2 = pPoly->GetPointAt(j);

	x1 = pt1.x;
	x2 = pt2.x;
	y1 = pt1.y;
	y2 = pt2.y;

	area += x1 * y2;
	area -= y1 * x2;

	centerx += ((x1 + x2) * ((x1 * y2) - (x2 * y1)));
	centery += ((y1 + y2) * ((x1 * y2) - (x2 * y1)));
}

area /= 2.0;
area = fabs(area);

centerx = centerx / (6.0 * area);
centery = centery / (6.0 * area);
```