In [5]:
from haversine import haversine
import pandas as pd
import os

In [ ]:
DF1_FILENAME = '6.Candidate groups.csv'
DF1_FILEPATH = os.path.join(os.path.dirname(os.getcwd()),'data','dataset',DF1_FILENAME)

df = pd.read_csv(DF1_FILEPATH, index_col=0)

In [4]:
# 위경도 입력
Seoul = (37.541, 126.986)  # Latitude, Longitude
Toronto = (43.65, -79.38)

# 거리 계산
haversine(Seoul, Toronto, unit = 'km')

10603.855192138562

In [ ]:
distance_compare_list = []

## for문으로 비교
for i in range(df.shape[0]):
    hbl = (df["hb_lat"][i], df["hb_lng"][i])
    hcl = (df2["hc_lat"][i], df2["hc_lng"][i])
    result = haversine(hbl, hcl, unit='m')
    distance_compare_list.append(result)

## 출력
print(distance_compare_list)